@import "styleSheet.scss";

@media all {
  body {
    font-family: $fontFamily;
  }

  .headerApiki {
    background-color: $color_bckgHeader_Logo;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   

    img {
      width: 10% !important;
    }
  }
}
